
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;

}
/* header styles */

.container{
    width: 75%;
    margin: 0 auto;
}

.header-area {
    background-color: rgba(255, 144, 14, 0.1);
}

nav.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.logo h3{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    text-transform: capitalize;
}

.menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    padding-right: 15px;
}

.hero-area{
    margin-top: 200px;
}

.hero-text{
    max-width: 45%;
    margin: 0 auto;

}

.hero-text h2{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
    margin-bottom: 15px;


}

.hero-text p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    text-align: center;
    margin-bottom: 30px;

}

button{
    display: block;
    margin: 0 auto;
}

.btn{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-img img{
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

/* features styles */

.features{
    display: flex;
    margin-top: 45px;
    
}

.features > div{
    flex: 1;
}

.feature-images {
    display: grid;
    row-gap: 14px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-images img{
    width: 340px;
    height: 340px;
}

.feature-text{
    margin-top: 150px;
    margin-left: 70px;
}

.feature-text h2{
    font-size: 45px;
    font-weight: 500;
    max-width: 60%;
    align-items: center;
}

.clr{
    color: #727272;
}
.black-clr{
    color: #131313;
    font-weight: 700;
}

.orange-clr{
    color: #FF900E;
    font-weight: 700;
}

.feature-text p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    max-width: 60%;
    align-items: center;
    margin-top: 24px;
}

.feature-btn{
    margin-top: 32px;
    margin-left: 0;
}




/* responsive styles */

@media screen and (max-width: 576px) {
    
    .hero-area{
        display: flex;
        flex-direction: column;
    }
    .hero-img img{
        max-width: 100%;
    }

    .hero-text {
        max-width: 100%;
    }

    .header-area h2{
        font-size: 2.5rem;
    }

    .hero-img{
        margin-top: 20px;
    }

    .features{
        flex-direction: column;
    }

    .feature-images{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

   
}